<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jdrapid.rapidfast">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.RapidFast"
        tools:replace="android:theme">
        <activity android:name=".IntroactivityActivity"></activity>
        <activity android:name=".activities.RegistroCorrero" />
        <activity
            android:name=".activities.SolicitarConductorByIdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.LoginTelefono"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.HistorialSolicitudDetalle"
            android:parentActivityName=".activities.HistorialSolicitudClienteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.HistorialSolicitudClienteActivity"
            android:parentActivityName=".activities.MapClienteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ActualizarPerfilActivity"
            android:parentActivityName=".activities.MapClienteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CalificarConductorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MapClienteReservaActivity"
            android:screenOrientation="portrait" />

        <service android:name=".services.MyFirebaseNotificacionCliente">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".activities.SoliciarConductorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.DetallePedirConductor"
            android:parentActivityName=".activities.MapClienteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MapClienteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.LoginActivity"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.RegistroClienteActivity"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>